body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: repeating-radial-gradient(circle at center center, transparent 0px, transparent 13px,rgba(0,0,0,0.05) 13px, rgba(0,0,0,0.05) 24px,transparent 24px, transparent 62px,rgba(0,0,0,0.05) 62px, rgba(0,0,0,0.05) 96px),repeating-radial-gradient(circle at center center, rgb(255,255,255) 0px, rgb(255,255,255) 14px,rgb(255,255,255) 14px, rgb(255,255,255) 18px,rgb(255,255,255) 18px, rgb(255,255,255) 28px,rgb(255,255,255) 28px, rgb(255,255,255) 32px); background-size: 21px 21px;
    animation: scroll 100s linear 0s infinite normal;
}

button {
    color: white;
    background: #7d72bb;
    border-radius: 10px;
    border: none;
    font-family: Quicksand;
    font-weight: 600;
    margin: 5px;
    padding: 6px;
}

input {
    background: rgb(238, 238, 238);
    border-radius: 10px;
    border: none;
    font-family: Quicksand;
    font-weight: 600;
    margin: 5px;
    padding: 6px;
}

@keyframes scroll {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 100%;
    }
}

path {
    filter: drop-shadow(5px 5px 4px #969696);
    stroke: "#8000ff";
}

#text1 {
    stroke-dasharray: 3186;
    animation: fillD;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-fill-mode: forwards;
}

#text2 {
    stroke-dasharray: 3186;
    stroke-dashoffset: 3186;
    animation: fillRest;
    animation-duration: 16s;
    animation-timing-function: linear;
    animation-delay: 0.8s;
    animation-fill-mode: forwards;
}

@keyframes fillD {
    0% {
        stroke-dashoffset: 3186;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes fillRest {
    0% {
        stroke-dashoffset: 3186;
    }
    100% {
        stroke-dashoffset: 0;
    }
}